@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

@layer base {
    html, body {
        font-family: 'Poppins', sans-serif;
        @apply antialiased;
    }
}

.sticky {
    box-shadow: 0px 2px 10px rgba(0,0,0,0.6);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .7);
    transition: .3s;
    
    

}

.sticky .sticky-color{
    color: #ffffff;
    

}

.transition {
    transition: 3s;
}

.menu {
    display: flex;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.menu span {
    height: 0.4rem;
    width: 100%;
    background-color:red;
    border-radius: 0.2rem;
}

menu {
    display:none;
}


.open {
    display:flex;
}

